.container {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  padding: 0;
}

.movie-description {
  height: 100px;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.more-button {
  width: 30%;
}

.movie-title {
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-title h4 {
  font-size: 16px;
  font-weight: bold;
}


.movie-property {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 5px 5px 0 0;
}

.rating {
  flex-grow: 1;
  text-align: center;
}

.movie-release {
  flex-grow: 2
}
