.movie-description {
  height: 100px;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.more-button {
  width: 30%;
}

.movie-title {
  display: flex;
  justify-content: center;
}

.movie-title h4 {
  flex-grow: 3;
}

.rating {
  flex-grow: 1;
  padding: 8px;
  text-align: right;
}

.movie-property {
  margin-bottom: 10px;
}
