@import "./variables.scss";

.area {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  // @media (min-width: 768px) { width: 750px; }
  // @media (min-width: 992px) { width: 970px; }
  // @media (min-width: 1200px) { width: 1140px; }

  // @media only screen and (min-width : 321px) {
  //   width: 100%;
  // }
  //
  // @media only screen and (max-width : 320px) {
  //   width: 100%;
  // }
  //
  // @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  //   width: 100%;
  // }
  //
  // /* iPads (portrait) ----------- */
  // @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  //   width: 100%;
  // }
}

// Navigation component

// Component skeleton
.navbar-component {
  //background-color: $navbar-background;
  background-image: linear-gradient(to bottom, #093145 0%, #1a4458 100%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  & > .navigationbar {
    justify-content: space-between;
  }
}

// Component
.navigationbar {
  // Brand
  & > .brand {
    display: block;
    font-size: 16px;
    //color: #777;
    color: #FFFFFF;
    margin: round(($navbar-height - 20) / 2);
    text-decoration: none;
    cursor: pointer;
  }

  // Toggle button
  & > .toggle {
    border: 0;
    background-color: transparent;
    outline: none;
    border: 0;
    display: inline-block;
    background-color: transparent;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    padding: round(($navbar-height - 20) / 2);

    @media only screen and (min-device-width : $navbar-collapse-breakpoint) {
      display: none;
    }

  }

  & > .toggle > .icon {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;

    &,
    &:before,
    &:after {
      display: block;
      width: 24px;
      height: 3px;
      transition: background-color 0.3s linear, transform 0.3s linear;
      //background-color: #555555;
      background-color: #FFF;
    }

    &:before, &:after { position: absolute; content: ""; }
    &:before { top: -8px; }
    &:after { top: 8px; }
  }

  & > .toggle.-active > .icon {
    background-color: transparent;

    &:before { transform: translateY(8px) rotate(45deg); }
    &:after { transform: translateY(-8px) rotate(-45deg); }
  }

  // List of items
  & > .list {
    display: none;
    flex-flow: row nowrap;
    align-items: center;
    white-space: nowrap;

    @media only screen and (min-device-width : $navbar-collapse-breakpoint) {
      display: flex;
      margin-right: 3%;
    }

    @media only screen and (max-device-width : 767px) {
      position: absolute;
      top: $navbar-height;
      left: 0;
      width: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      border-top: 1px solid $navbar-border;
      background-color: $navbar-background;
    }

    &.-on {
      display: flex;
      color: #093145;
    }
  }

  & > .list > .item {
    display: block;
    flex-shrink: 0;
    height: $navbar-height;
    line-height: $navbar-height;
    text-transform: uppercase;
    //color: $navbar-item-color;
    color: #093145;
    font-size: $navbar-item-font-size;
    text-decoration: none;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    @media only screen and (min-width : $navbar-collapse-breakpoint) {
      padding-left: round(($navbar-height - 20) / 2);
      padding-right: round(($navbar-height - 20) / 2);
      color: #FFFFFF;
    }
  }

  & > .list > .item.-link {
    line-height: $navbar-height + $navbar-item-border-width;
    //color: $navbar-item-color;
    color: #093145;
    border-bottom: $navbar-item-border-width solid $navbar-item-border;
    @media only screen and (min-width : $navbar-collapse-breakpoint) {
      color: #FFFFFF;
    }

    &.-active,
    &:hover,
    &:focus {
      //color: $navbar-item-active-color;
      color: #093145;
      border-bottom-color: #093145;
      @media only screen and (min-width : $navbar-collapse-breakpoint) {
        color: #FFFFFF;
        border-bottom-color: #FFFFFF;
      }
    }
  }
}
